<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="115" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <hr/>
  <h2>This is one part of the product, written in Angular</h2>
  <p>We are interacting with the custom element</p>
  <input type="text" [(ngModel)]="love">
  <button (click)="fireToast()">Fire toast</button>
  <popup-menu [attr.icon-type]="'menu'" (mouseup)="handleMenuSelect($event)">
    <li role="menu-item">More info</li>
    <li role="menu-item">Edit...</li>
    <li role="menu-item">Go to home page</li>
    <li role="menu-item">Do something else</li>
    <li role="menu-item">Awesome, it works</li>
    <hr />
    <li role="menu-item">Wee, separator</li>
  </popup-menu>
  <love-component [attr.who]="love"></love-component>
</div>